#learn-flashcard {
    background-image: url("https://english-for-kids.s3.ap-southeast-1.amazonaws.com/41d186051d1991a4ebf11f8d81f438fb85eb390f669dcb48298ea8d1e24ff188.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#learn-flashcard .description {
    min-height: 100px;
    width: 80%;
    justify-self: center;
    padding: 1rem;
    margin-top: 5rem;
}

#learn-flashcard .header {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
}

#learn-flashcard .btn-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: flex-end;
    right: 16%;
    position: absolute;
}

#learn-flashcard .header .return-btn {
    font-size: 1.5rem;
    cursor: pointer;
    justify-self: flex-start;
    align-self: flex-start;
    position: absolute;
}

#learn-flashcard .swiper-pagination-fraction {
    padding: 1rem;
}

.flashcard-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.flashcard-swiper {
    padding-bottom: 40px;
}

.flashcard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-section h3 {
    font-size: 24px;
    color: white;
    text-align: center;
}
