.s-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://english-for-kids.s3.ap-southeast-1.amazonaws.com/41d186051d1991a4ebf11f8d81f438fb85eb390f669dcb48298ea8d1e24ff188.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.s-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}
.s-body {
  display: flex;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}
