* {
  font-family: Roboto, sans-serif;
}
.progress-bar {
  width: 90%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid black;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}
.learn-session-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  background-color: white;
}
.learn-session-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  width: 80%;
}
.progress-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.learn-session-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
}
.learn-session-question-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  width: 80%;
}
.learn-session-question-content p {
  margin: 0;
  border: 0.5px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
}

.learn-session-answers {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
  gap: 10px; /* Adds space between buttons */
}
.answer-button {
  width: 350px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background-color: lightgray;
  font-size: 25px;
  border: 1px solid #4caf50;
  border-radius: 30px;
  cursor: pointer;
}
.answer-button-correct {
  width: 350px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #4caf50;
  font-size: 25px;
  border: 1px solid #4caf50;
  border-radius: 30px;
  cursor: pointer;
  color: #000;
}
.answer-button-incorrect {
  width: 350px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #ff0000b7;
  font-size: 25px;
  border: 1px solid #ff0000b7;
  border-radius: 30px;
  cursor: pointer;
  color: #000;
}

.answer-button:hover {
  background-color: rgb(121, 121, 121);
}
.l-result-correct {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.l-result-incorrect {
  width: 100%;
  background-color: #ff0000b7;
  color: white;
  padding: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.l-result-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}
.l-bar-finish {
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.l-bar-finish-body {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.l-bar-finish-body-1 {
  width: 20%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffc800;
  border: 1px solid #ffc800;
  border-radius: 20px;
  padding: 1px;
  padding-top: 10px;
  font-size: small;
  font-weight: bold;
  ;
}
.l-bar-finish-body-2 {
  width: 20%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 20px;
  padding: 1px;
  padding-top: 10px;
  font-size: small;
  font-weight: bold;
}
.l-bar-finish-body-3 {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}
