
.v-container {
  background-color: lightskyblue;
  height: 100vh;
  background-image: url('https://english-for-kids.s3.ap-southeast-1.amazonaws.com/5418aa07d5330b9a0c0f21ff947a5f3b779cff018a48c3e4659b90e4beba03c0.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; 
}

.v-content {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  column-gap: 30px;
  row-gap: 30px;
  
}
.v-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}
.v-topic{
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px #ccc;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.v-title{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  font-family: GBS;
}
.v-face{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
}
.v-img{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.v-topic:hover {
  background-color: white; 
  border: 2px solid #228b22;
  cursor: pointer;
}
.v-topic:active {
  transform: scale(0.95); /* Thu nhỏ nhẹ khi nhấn */
  transform: translateY(4px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.v-progress{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.back-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.back-btn:hover {
  scale: 2;
  font-size: 50px;
}
