* {
    user-select: none; /* Ngăn chọn văn bản */
  }
.v-container {
  background-color: white;
  height: 100vh;
}

.v-content {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  column-gap: 30px;
  row-gap: 30px;
  
}
.v-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}
.v-topic{
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px #ccc;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.v-title{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  font-family: GBS;
}
.v-face{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
}
.v-img{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.v-topic:hover {
  background-color: white; 
  border: 2px solid #228b22;
  cursor: pointer;
}
.v-topic:active {
  transform: scale(0.95); /* Thu nhỏ nhẹ khi nhấn */
  transform: translateY(4px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.v-progress{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
