.lesson-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url('https://english-for-kids.s3.ap-southeast-1.amazonaws.com/2ecfee2c89491f71b156accd878b6e8e25df3e13207752152fbad2a6f106708b.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.lesson-list {
  display: flex;
  gap: 20px;
}

.lesson-card {
  /* background-image: url('https://english-for-kids.s3.ap-southeast-1.amazonaws.com/5418aa07d5330b9a0c0f21ff947a5f3b779cff018a48c3e4659b90e4beba03c0.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: lightskyblue;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}
.lesson-card-complete {
  /* background-image: url('https://english-for-kids.s3.ap-southeast-1.amazonaws.com/5418aa07d5330b9a0c0f21ff947a5f3b779cff018a48c3e4659b90e4beba03c0.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #ffd41c;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.lesson-card:hover {
  transform: scale(1.05);
}
.lesson-card-complete:hover {
  transform: scale(1.05);
}

.lesson-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 200px;
  border: 1px solid #dcdcdc;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}



.lesson-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.lesson-description {
  font-size: 14px;
  color: #555;
}
