#LearnFlashCardVocabulary {
  width: 400px;
  height: 600px;
  perspective: 1000px;
  cursor: pointer;
}

#LearnFlashCardVocabulary .custom-swiper {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
}

#LearnFlashCardVocabulary .custom-swiper-slide {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

#LearnFlashCardVocabulary .custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: black;
}

#LearnFlashCardVocabulary .custom-swiper .swiper-pagination-fraction {
  color: black;
  /* Màu của số tiến trình (1/10) */
  font-weight: bold;
  /* Làm đậm văn bản nếu muốn */
}

#LearnFlashCardVocabulary .custom-swiper .swiper-pagination-fraction .swiper-pagination-current {
  color: black;
  /* Màu của số hiện tại (ví dụ 1) */
}

#LearnFlashCardVocabulary .custom-swiper .swiper-pagination-fraction .swiper-pagination-total {
  color: black;
  /* Màu của tổng số (ví dụ 10) */
}

#LearnFlashCardVocabulary .custom-swiper .swiper-button-next {
  right: 10px;
}

#LearnFlashCardVocabulary .custom-swiper .swiper-button-prev {
  left: 10px;
}

/* .flashcard-container-2 {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
} */