* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.a-q-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f5f6f8;
  height: 100vh;
  overflow: hidden;
}
.questions-grid-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* Thêm cuộn dọc */
  max-height: calc(100vh - 200px);
  background-color: #f0f4f7;

}
.a-q-question-content-content-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    width: 100%;

}
.a-q-question-content-button{
  cursor: pointer;
}
.a-q-header{
  background-color: white;
}
.ad-q-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;

}
.a-q-title-add{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: flex-end;
    border-bottom: 1px solid lightgray;

}
.a-q-add-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #95f0de;
    border: 1px solid #1cbb9b;
}
.modal-modal-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  padding-top: 20px;
  
}
.modal-modal-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
.modal-audio-upload {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal-modal-right {
  display: flex;
  flex-direction: column;
  width: 60%;

}
.modal-add-question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.questions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 items per row */
  gap: 20px; /* Optional: add some space between items */
  padding: 10px;

}

.a-q-question-list {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  border: 1px solid #ccc;
  background-color: white;
  
}
.a-q-question-content-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;

}
.a-q-question-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.a-q-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.a-q-answer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.modal-pick-word{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.modal-content-word{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.a-q-add-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #95f0de;
    border: 1px solid #1cbb9b;
}



