* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a-l-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  background-color: lightskyblue;
  border-radius: 10px;
  padding: 10px;
}
.a-l-header{
  display: flex;
  height: 15%;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  /* background-color: #f1f1f1; */

}
.a-l-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.a-l-search{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  
}
.a-l-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #4884f4;
  border-radius: 5px;
  border: 0.5px solid #4884f4;
  font-size: 18px;
  box-shadow: 0 0 5px #4884f4;
  cursor: pointer;
  font-weight: bold;
}
.a-l-button:hover{
  background-color: #4884f4;
  color: white;
  transform: scale(1.03);
}
.a-l-button-action-update{
  background-color: #ffd41c;
  padding: 3px;
  border: 1px solid #ffd41c;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px #ffd41c;
}
.a-l-button-action-update:hover{
 transform: scale(1.2);
}
.a-l-button-action-delete{
  background-color: #ff4d4d;
  padding: 3px;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px #ff4d4d;
}
.a-l-button-action-delete:hover{
 transform: scale(1.2);
}
.a-l-button-action-detail{
  background-color: #4dff4d;
  padding: 10px;
  border: 1px solid #4dff4d;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 5px #4dff4d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.a-l-button-action-detail:hover{
 transform: scale(1.2);
}
