@font-face {
  font-family: ultra;
  src: url(../../../public/Ultra-Regular.ttf);
}

@font-face {
  font-family: GBS;
  src: url(../../../public/PlaywriteGBS-VariableFont_wght.ttf);
}

* {
  /* user-select: none;  */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftContainer {
  width: 15%;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: whitesmoke;
  padding-top: 20px;
}
.rightContainer {
  width: 14%;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #f8f9fa; /* Màu nền nhạt để dịu mắt */
  padding-top: 20px;
}

.leftContainer {
  left: 0;
  border-right: 2px solid #e0e0e0;
  padding: 10px;
  background-color: white;
}

.rightContainer {
  right: 0;
}

.centerContainer {
  width: 72%; /* Chiếm phần còn lại của trang */
  margin-left: 15%;
  margin-right: 14%;
  background-color: #ffffff; /* Nền trắng */
}

/* Header cho phần bên phải */
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Nội dung bên phải */
.right-content {
  padding: 20px;
  margin: 20px;
  flex: 1;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #f9f9f9;
}

/* Nút bấm trong leftContainer */
.button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.selected-button {
  background-color: #ddf4ff;
  border: 2px solid #84d8ff;
  color: #2bb9f6;
}

.button:hover {
  background-color: #f7f7f7; /* Màu sáng hơn khi hover */
}

.bbton {
  color: #333333;
  background-color: transparent;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  color: #777d7f;
}

.button-content img {
  width: 35px;
  height: 35px;
}

.title-left {
  text-align: center;
  font-family: GBS;
  font-size: 45px;
  color: #228b22;
  font-weight: bolder;
  margin-bottom: 20px;
}
.points-container {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ffd41c;
  border-radius: 8px;
  background-color: #f9fff9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.points-title {
  font-size: 20px;
  color: gray;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.points-content {
  font-size: 16px;
  color: gray;
}

.points-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.points-item:last-child {
  border-bottom: none;
}

.points-label {
  font-weight: bold;
  color: gray;
}

.points-value {
  color: #000;
  font-weight: bold;
}
