/* .container {
    display: flex;
    width: 100%;
  }
  
  .leftContainer {
    flex: 0 0 20%;
    background-color: #ffffff;
    height: 100vh; 

  }
  .centerContainer {
    flex: 0 0 60%;
    background-color: #e0e0e0;
    overflow-y: auto;
  }
  
  .rightContainer {
    flex: 0 0 20%; 
    background-color: #ffffff;
    height: 100vh; 
  } */