@font-face {
  font-family: ultra;
  src: url(../../../public/Ultra-Regular.ttf);
}

@font-face {
  font-family: GBS;
  src: url(../../../public/PlaywriteGBS-VariableFont_wght.ttf);
}

@font-face {
  font-family: Signika;
  src: url(../../../public/SignikaNegative-VariableFont_wght.ttf);
}

.ad-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Chiều cao toàn màn hình */
}

.ad-left {
  width: 15%; /* Chiếm 20% chiều rộng màn hình */
  flex-direction: column;
  border-right: 2px solid lightgray;
  background-color: #f0f0f0;
}

.ad-right {
  width: 85%; /* Chiếm 80% chiều rộng màn hình */
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
}

.ad-header {
  height: 10%; /* Chiếm 10% chiều cao của ad-right */
  background-color: lightcoral; /* Chỉ để dễ nhìn, bạn có thể thay đổi */
}

.ad-content {
  height: 90%; /* Chiếm phần còn lại (90% chiều cao của ad-right) */
}

.ad-avatar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid aquamarine;
  background: linear-gradient(to right, #228b22, darkGreen);
}
.ad-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.ad-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: large;
}
.ad-menu-item-selected {
  border: solid 2px #228b22;
  background-color: #d5f7e5;
}
.ad-menu-item-none {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: large;
}
.ad-menu-item-none:hover {
  background-color: rgb(236, 235, 235);
}
