@font-face {
  font-family: ultra;
  src: url(../../../public/Ultra-Regular.ttf);
}

@font-face {
  font-family: GBS;
  src: url(../../../public/PlaywriteGBS-VariableFont_wght.ttf);
}

@font-face {
  font-family: Signika;
  src: url(../../../public/SignikaNegative-VariableFont_wght.ttf);
}

.ad-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Chiều cao toàn màn hình */
}

.ad-left {
  width: 15%; /* Chiếm 20% chiều rộng màn hình */
  flex-direction: column;
  border-right: 2px solid lightgray;
  background: linear-gradient(to bottom, #a8ffee, white);
  position: fixed;
  left : 0;
  top: 0;
  height: 100vh;
}

.ad-right {
  width: 85%; /* Chiếm 80% chiều rộng màn hình */
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  position: fixed;
  right: 0;
  top: 0;
}

.ad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 7%; /* Chiếm 10% chiều cao của ad-right */
  background: linear-gradient(to right, #1cbb9b, white); /* Chỉ để dễ nhìn, bạn có thể thay đổi */
}

.ad-content {
  height: 93%; /* Chiếm phần còn lại (90% chiều cao của ad-right) */
}

.ad-avatar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid aquamarine;
  background-color:#1cbb9b;
}
.ad-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.ad-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
  font-size: medium;
}
.ad-menu-item-selected {
  border: solid 2px #228b22;
  background-color: #d5f7e5;
}
.ad-menu-item-none {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: medium;
}
.ad-menu-item-none:hover {
  background-color: rgb(255, 255, 255);
}

.ad-header-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: transparent;
}
.ad-header-button-avt{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.ad-header-botton-noti{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}