.ad-p-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  background-color: lightskyblue;
  border-radius: 10px;
  padding: 10px;
  
}
.ad-p-content{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
.ad-p-content-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.ad-p-content-header-1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.ad-p-content-header-2{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}
.ad-p-content-header-3{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  width: 20%;

}
.ad-p-content-body {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: center;
  flex-direction: column;

}
.a-p-content-left {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  
  
}
.a-p-content-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  background-color: white;
  border-radius: 10px;
}
